@model IEnumerable<BeautyMvc.Models.LengthModelFE>

@{
    ViewData["Title"] = "EditAllLength";
}

<h1>List of all Length</h1>

<p>
    <a asp-action="CreateLength">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleExtrat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleExtrat)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLength", new { item.IDExtrat }) |
                @Html.ActionLink("Details", "DetailLength", new { item.IDExtrat }) |
                @Html.ActionLink("Delete", "Delete", new { item.IDExtrat })
            </td>
        </tr>
}
    </tbody>
</table>
