@model BeautyLibrary.Models.DiscountModel

@{
    ViewData["Title"] = "DetailADiscount";
}

<h1>DetailADiscount</h1>

<div>
    <h4>DiscountModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostDiscount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditADiscount", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="ListAllDiscount">Back to List</a>
</div>
